<!-- base idea taken from https://flask.palletsprojects.com/en/2.3.x/tutorial/ -->

{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}New  Ad{% endblock %}</h2>
{% endblock %}

{% block content %}
<form form action="{{url_for('update')}}" method="post">
    <div class="mb-3">
        <label for="carid" class="form-label">Car Serial Number</label>
        <input name="carid" class="form-control" id="carid" value="Leave blank if you are a buyer" required>
    </div>

    <div class="mb-3">
        <label for="carused" class="form-label">Is the Car used</label>
        <div class="form-check">
            <input type="radio" id="usedcar" input class="form-check-input" name="carused" value="Y" required>
            <label for="carused" class="form-label">Yes</label><br>
        </div>

        <div class="form-check">

            <input type="radio" id="newcar" input class="form-check-input" name="carused" value="N" required>
            <label for="carused" class="form-label">No</label><br>
        </div>

        <label for="carmodel" class="form-label">Car Model</label>
        <input name="carmodel" id="carmodel" class="form-control" value="{{ request.form['carmodel'] }}" required>

        <label for="carcolour" class="form-label">Car Colour</label>
        <input name="carcolour" id="carcolour" class="form-control" value="{{ request.form['carcolour'] }}" required>

        <label for="price" class="form-label">Price in EUR</label>
        <input name="price" type="number" id="price" class="form-control" value="{{ request.form['price'] }}" required>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}

