{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

{% for item in data %}
<form action="{{ url_for('delete') }}" method="post">


    <!--<label for="carused">Is the Car used</label>
    <input type="radio" id="usedcar" name="carused" value="{item.Used}}" required>
    <label for="carused">Yes</label>
    <br>
    <input type="radio" id="newcar" name="carused" value="{item.Used}}" required>
    <label for="carused">No</label>
    <br>-->

    <h1>Delete your Ad of ID {{ item.AdId}}</h1>

    <label for="adid">Ad ID</label>
    <input name="adid" id="adid" value="{{ item.AdId }}" readonly>

    <label for="carmodel">Car Model</label>
    <input name="carmodel" id="carmodel" value="{{ item.CarModel }}" readonly>

    <label for="carcolour">Car Colour</label>
    <input name="carcolour" id="carcolour" value="{{ item.CarColour }}" readonly>

    <label for="price">Price in EUR</label>
    <input name="price" type="number" id="price" value="{{item.Price}}" readonly>
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">

</form>

    
{% endfor %}
<hr>
<p>delete</p>
{% endblock %}

