* {font-family: 'Montserrat', sans-serif}

body {
    max-width: 80%;
    margin: 0 auto;
    background: white;
}

h2 {
    font-family: serif;
    color: #377ba8;
    padding-top: 2%;
    padding-bottom:2%
  
}



a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}



nav h2 {
    flex: auto;
    margin: 0;
    padding-left: 40%
}

        nav h2 a {
            text-decoration: none;
            padding: 0.25rem 0.5rem;
        }

    nav ul {
        display: flex;
        list-style: none;
        margin-left: 10%;
        margin-right:5%;
        padding-right: 5%;
        padding-left:5%
    }

        nav ul li a, nav ul li span, header .action {
            display: block;
            padding: 0.5rem;
        }




.content {
    padding: 0 1rem 1rem;
}


.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}


#hello {
    color: #377ba8;
}


