{% extends 'base.html' %}

{% block header %}
<h2>
    {% block title %}
    {% if g.user %}
    Welcome back
    {% else %}Welcome to KJ cars. Please register to post ads and get in touch with the community. {% endif %}
    {% endblock %}
</h2>

{% endblock %}

{% block content %}

<!--https://www.krazyprogrammer.com/2020/12/fetch-data-from-mysql-using-flask-and.html-->

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Ad ID</th>
            <th scope="col">Date Posted</th>
            <th scope="col">Car Model</th>
            <th scope="col">Price</th>
            <th scope="col">Colour</th>
            <th scope="col">For Sale/Wanted</th>
            <th scope="col"> Used or New</th>
            {% if g.user %}
            <th scope="col">Like</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <th scope="row">{{item.AdId}}</th>
            <td>{{item.AdDate}}</td>
            <td>{{item.CarModel}}</td>
            <td>{{item.Price}}</td>
            <td>{{item.CarColour}}</td>
            {% if item.Wanted == 'n' %}
            <td> For Sale </td>
            {% elif item.Wanted == 'y' %}
            <td> Wanted</td>
            {% endif %}
            {% if item.Used == 'Y' %}
            <td> Used </td>
            {% elif item.Used == 'N' %}
            <td> New</td>
            {% endif %}
            {% if g.user %}
            <td>
                <a href="{{ url_for('likes') }}"><i class="far fa-heart"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
